<?xml version="1.0"?>
<model>
  <name>my_mobile</name>
  <version>1.0</version>
  <sdf version="1.7">model.urdf</sdf> <author>
    <name>kimjunsuk</name>
    <email>bob4587@naver.com</email>
  </author>
  <description>
    A simple mobile robot model for ROS2 Gazebo simulation.
  </description>
</model>
