<?xml version="1.0"?>
<model>
  <name>My Mobile Robot</name>
  <version>1.0</version>
  <sdf version="1.7">model.urdf</sdf> <author>
    <name>Nojengo</name>
    <email>your_email@example.com</email>
  </author>
  <description>
    A simple mobile robot model for ROS2 Gazebo simulation.
  </description>
</model>
